/* .container {
  display: flex;
  justify-items: center;
  flex-direction: column;
} */

/* Extract-button  */
input[type="checkbox"] {
  align-items: center;
  -webkit-appearance: none;
  border: 3px solid #ececec;
  border-radius: 50%;
  box-shadow:
    -10px -10px 15px hsla(0, 0%, 100%, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  cursor: pointer;
  display: flex;
  height: 4em;
  justify-content: center;
  left: 10%;
  outline: none;
  position: relative;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 4em;
}

input[type="checkbox"]::after {
  font-family: FontAwesome;
  content: "\f011";
  color: #7a7a7a;
  font-size: 20px;
}

input[type="checkbox"]:checked {
  box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

input[type="checkbox"]:checked::after {
  color: #15e38a;
}

/* ------------------------------------------------------------------- */

.Btn-Container {
  align-items: center;
  background-color: #1d2129;
  border: none;
  border-radius: 35px;
  box-shadow: 0 5px 10px #bebebe;
  cursor: pointer;
  display: flex;
  height: 46px;
  justify-content: space-between;
  width: 122px;
  position: relative;
}

.icon-Container {
  height: 35px;
  width: 65px;
  background-color: #f59aff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #1d2129;
}

.text {
  width: calc(170px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1em;
  letter-spacing: 1.2px;
}

.icon-Container svg {
  transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }

  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
